.checkbox-wrapper {
  display: flex;
  flex-direction: column;
  max-width: 11rem;
  gap: .75rem;

  & label {
    margin-bottom: .45rem;
  }

  & span {
    padding: 0;
    margin: 0;
    font: var(--body-sm);
    color: var(--text-heading);
  }

  & .label-light {
    display: none;
  }

  & .toggle-switch {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 4rem;
      height: 2rem;
      background-color: var(--input-base);
      border-radius: 999px;
      border: 1px solid var(--input-stroke);
      margin-right: .75rem;
      transition: background-color .2s;
    }

    &::after {
      content: "";
      position: absolute;
      left: .2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--input-stroke);
      border-radius: 50%;
      transition: left .2s;
    }
  }
}

.toggle-checkbox:checked + .toggle-switch::after {
  left: 2.3rem;
  background-color: var(--text-heading);
}

.toggle-checkbox:checked + .toggle-switch::before {
  background-color: var(--brand-light);
}

.toggle-checkbox:checked + .toggle-switch .label-dark {
  display: none;
}

.toggle-checkbox:checked + .toggle-switch .label-light {
  display: inline;
}

