.checkbox-wrapper {
  display: flex;
  align-items: center;
  height: 3rem;

  & .toggle-switch {
    display: flex;
    position: relative;
    align-items: center;
    cursor: pointer;

    &::before {
      content: "";
      display: inline-block;
      width: 4rem;
      height: 2rem;
      background-color: var(--input-base);
      border-radius: 999%;
      margin-right: .75rem;
      transition: background-color 2s;
    }

    &::after {
      content: "";
      position: absolute;
      left: .2rem;
      top: 50%;
      transform: translateY(-50%);
      width: 1.5rem;
      height: 1.5rem;
      background-color: var(--input-stroke);
      border-radius: 50%;
      transition: left .2s;
    }
  }
}

