.radio-wrapper {
  display: flex;
  background-color: var(--input-base);
  border: 1px solid var(--input-stroke);
  
  border-radius: .5rem;
  padding: .25rem;
  gap: .25rem;

  & .radio-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.375rem;
    padding: .25rem;
    gap: .5rem;
    border-radius: .25rem;
    cursor: pointer;
    flex: 1;

    & label {
      margin: 0;
      font: var(--body-sm);
      color: var(--text-body);
      cursor: pointer;
    }

    & img {
      width: 1rem;
      height: 1rem;
      opacity: 0.5;
    }

    & input[type="radio"] {
      position: absolute;
      width: 1px;
      height: 1px;
      padding: 0;
      margin: -1px;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      white-space: nowrap;
      border: 0;
    }

    &:has(input:focus-visible) {
      outline: 2px solid var(--brand-light);
      outline-offset: 2px;
    }
  }
}

.radio-inner:has(input:checked),
.radio-inner:hover {
  background-color: var(--shape-button);

  & label {
    color: var(--text-heading);
    font: var(--body-sm-semibold);
  }

  & img {
    opacity: 1;
    filter: invert(58%) sepia(87%) saturate(1376%) hue-rotate(183deg) brightness(104%) contrast(100%);
  }
}

