body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: var(--shape-background);
}

#app {
  display: grid;
  grid-template-columns: 32.78% 67.22%;
  
  background-color: var(--shape-background);
  max-width: 80rem;
  height: 48rem;
  overflow: hidden;
  gap: 0.75rem;
  border-radius: 1.25rem;
  
}

main {
  order: 2;

  background-color: var(--shape-body);
  overflow: auto;
  padding-block: 5rem;
  border-radius: .75rem;
  

  & .main-container {
    max-width: 51.25rem;
    margin-inline: auto;

    & form {
      max-width: 35rem;
      margin-inline: auto;
    }
  }
  
  & h1 {
    font: var(--heading-md);
    margin-bottom: 2.5rem;
    max-width: 35rem;
    margin-inline: auto;
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  & legend {
    padding: 0;
    margin: 0;
  }
  
}

.field-row {
  display: flex;
  gap: 1rem;

  & .input-wrapper {
    flex: 1;
  }
}



aside { 
  overflow: hidden;  
  
  & .aside-container {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    height: 45.5rem;
    border-radius: .75rem;
    margin-left: auto;
    overflow: hidden;
    gap: 1rem;
    
    background-image: url(../assets/Background.png);
    background-size: cover;
    background-position: center;
  }

  & header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 2rem 2rem 0;
  }

  & h2 {
    font: var(--logo);
    color: #FF598B;
  }

  & p {
    color: var(--text-heading);
  }

  & .logo {
    max-width: 2.86rem;
    height: auto;
  }
}

